<!-- <html>  
<head>  
    <title>upload</title>  
</head>  
<body>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        
      <input type="file" name="file"/>
        <input type="file" name="key">
        <input type = "submit" value="Upload">  
    </form>  
</body>  
</html>   -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>KEA</title>
  </head>
  <body>
    <div class="row">
       <div class="col-md-3">
         <h1>Decrypt File</h1>
         <form action = "/decrypt" method = "post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload File</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
            </div>
            <div class="form-group">
               <label for="exampleFormControlTextarea1">Enter Key</label>
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="key"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
      
          </form>
       </div>
       <div class="col-md-3">
         <h1>Encrypt File - Under Developement 👷</h1>
         <form action = "/encrypt" method = "post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload File</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" disabled>
            </div>
            <div class="form-group">
               <label for="exampleFormControlTextarea1">Generated Key</label>
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly name="key"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" disabled>
      
          </form>
       </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
 